@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Kaushan+Script&family=Oswald:wght@200..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color:rgb(150,65,255);
  --primary-variant: rgb(3, 86, 228);
  --secondary-color:   #121212;
  --on-primary: rgb(250, 250, 250);
  --on-background-alt: rgba(250, 250, 250, 0.7);
  --background: rgb(150,65,255);
  --on-background: rgba(66, 66, 66, 0.7);
  --background: rgb(255, 255, 255);
  --box-shadow: 0 5px 20px 1px rgba(0, 0, 0, 0.5);
}


html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  color: var(--primary-color);
  font-family: Comfortaa, sans-serif;
  background-color: #f2eff6;
  background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23813cf0' fill-opacity='0.26'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

/* Section */
section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

section .event {
  min-height: 50vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
/* Home */
#home {
    min-height: 50vh;
  display: inline-block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 

}

/* About  */
.about-container {
    min-height: 50vh;
  display: inline-block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
p {

   font-size: 18px;
  color: var(--secondary-color);
  align-items: center;
   padding: 0px 10rem;
  
}

ul li {
  align-items: center;
  padding: 10px;
}

h1  {
  color: var(--primary-color);
  font-family: Kaushan Script, sans-serif;
  text-align: center;
  margin-bottom: 0px;
  margin-top: 100px;
  font-size:  100px;

}
  
h2 {
  color: var(--secondary-color);
  text-align: center;
  font-size: 32px;
  font-weight: normal;
}
/* Nav Bar */
nav {
  z-index: 10;
  position: fixed;
  font-family: Oswald, sans-serif;
  font-size: 24px;
  letter-spacing: 3px;
  top: 0;
  padding: 25px;
  width: 100vw;
  background: rgb(255 255 255 / 50%);
}

a {
  margin-right: 25px;
  color: var(--on-background--alt);
  text-decoration: none;
  border-bottom: 3px solid transparent;
  font-weight: bold;
  font-size: 15px;
  justify-content: right;
}

a:hover {
  background-color: var(--primary-color);
  color: var(--on-primary);
  text-decoration: underline;
}


/* Events/Activities */
.events-container {
  display: flex;
  flex-direction: flex-start;
  flex: 0 0 0 200px;   
  width: 100vw;
  height: 75vh;
}

.event-img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 6px;
  margin-top: 0rem;
}

.event-content {
  display: flex;
  flex-direction: column;
  color: var(--primary-variant);
  background-color: var(--on-primary);
  width: 100%;
  border-radius: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.85);
  padding: 50px;
 
}

.event-content h5 {
  font-weight: bold;
  margin-top: 20px;
}

button:hover {
 background-color: var(--primary-color);
 color: var(--on-primary);
}

/* Contact */
#committee p {
  display: inline;

}

/* Responsive: stack cards vertically on mobile */
@media screen and (max-width: 768px) {
  .events-container {
    flex-direction: column;
    align-items: center;
  }
}


.btn {
  background-color: var(--on-primary);
  color: var(--primary-color);
  font-family: sans-serif;
  border-radius: 10px;
  border-color: var(--primary-color);
  margin: 0 30px;

  box-shadow: 20px;
}
.events-link {
  display: block; /* Make the link fill the box width */
  text-decoration: none; /* Remove underline from link */
  color: #f0f0f0;/* Example link color */
  /* Add other link styles, such as font-weight, etc. */
}

.events-link:hover {
  text-decoration: underline;
  background-color: var(--secondary-color);

  /* Add underline on hover */
  /* Add other hover styles, such as color, etc. */
}

li {
  align-items: center;
}

#nav {
  z-index: 10;
  position: fixed;
  font-family: Oswald, sans-serif;
  font-size: 24px;
  letter-spacing: 3px;
  top: 0;
  padding: 25px;
  width: 100vw;
  background: rgb(255 255 255 / 50%);

}